################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/github/FileContentIndex
/.vs/github/v17
/.vs
/src/AzureSaga.Domain/obj
/src/AzureSaga.Repository/obj
/src/AzureSaga.Domain/bin/Debug/net6.0
/src/AzureSaga.Repository/bin/Debug/net6.0
