################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/github/FileContentIndex
/.vs/github/v17
/.vs
/src/AzureSaga.Domain/obj
